* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

:root {
    --bg-orange: #f2c126;
    /* --bg-blue: #1b1b1b; */
    --bg-blue: #000;
    --bg-white: #fff;
    --bg-border: #bbb;
    --bg-black: #000;
    --bg-parab: #000000ad;
    --bg-spanb: #000000ce;
    --bg-paraw: #ffffffc8;
    --bg-spanw: #ffffffdd;
}




h1 {
    font-size: 50px;

}

h2 {
    font-size: 25px;
    color: var(--bg-black);
}

h3 {
    font-size: 23px;
    color: var(--bg-black);
}

h6 {
    font-size: 18px;
    padding-left: 2.5em;


}

span {
    font-size: 14px;
    color: var(--bg-spanb);

}

p {
    font-size: 13px;
    color: var(--bg-parab);
    margin-bottom: 0;

}

body ul li a {
    font-size: 13px;
}

/* scroll button here */


.scroll {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    opacity: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------NAVIGATION STYLING HERE---------------------------------- */

.row {
    margin: 0;
}

.container-fluid {
    padding: 0em;
}

.navs {
    /* background-color: var(--bg-blue); */
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;

}

.navs .nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-white);
}


.navs .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navs .logo img {
    margin-left: 3em;
}

.bar {
    cursor: pointer;
}


.navs .nav-center {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-white);
    padding: 0em 1em;
}

.navs .nav-center ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navs .nav-center ul li {
    list-style: none;
    margin-right: 3em;

}

.navs .nav-center ul li a {
    color: var(--bg-white);
    text-decoration: none;
    position: relative;
}

.navs .nav-center ul li a::before {
    content: '';
    background-color: var(--bg-orange);
    border-radius: 2em;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0%;
    transition: all 0.3s ease-in-out;
}

.navs .nav-center ul li a:hover::before {
    width: 100%;
}



.navs .mobile-bar {
    display: none;
    cursor: pointer;

}



.navs .mobile-bar:hover {
    cursor: pointer;
}


/* ---------------------- STYLING FOR BUTTON START HERE------------------------ */

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 1.7em;
    transition: all 0.5s;
    z-index: 1;
    overflow: hidden;
    padding: 1.5em 0.2em 1.5em 1em;
    height: 35px;
    background-color: transparent;
    border: transparent;
    font-size: 12px;
    color: #fff;
}

.btns::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    background-color: var(--bg-orange);
    height: 100%;
    width: 35px;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.6s;

}

.btns:hover::after {
    width: 100%;
    border-radius: 0;
}

.btns:hover {
    cursor: pointer;

}

.btns img {
    margin-left: 1em;
    margin-right: 0.5em;
}

.btns-color {
    color: black;
}

.btns-color:hover {
    color: white;
}

/* ---------------------- STYLING FOR BUTTON END HERE------------------------ */


.navs .nav-right {
    background-color: var(--bg-orange);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 0.5em 0em;
}

.nav-right::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 112%;
    width: 112%;
    background-color: var(--bg-orange);
    transform: skewX(25deg);
    transform-origin: bottom left;
    z-index: -1;

}

.call {
    margin-top: 0.4em;
    font-size: 14px;
    font-weight: 700;
}

.num {
    font-size: 13px;
    font-weight: 700;

}



/* ----------------START STYLING FOR SECTION FIRST------------ */

.img-section {
    position: relative;
    display: flex;
    justify-content: center;


}

.img-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-blue);
    opacity: 0.3;
}


.section-first {
    z-index: 1;
    position: absolute;



}

.section-first .left-section {
    padding: 1em;
    display: flex;
    align-items: center;

}

.left-section p {
    margin-bottom: 1em;
}

.left-section .text .header h6 {
    color: var(--bg-spanw);

}

.left-section .text h1 {
    color: var(--bg-white);

}

.left-section .text p {
    color: var(--bg-paraw);

}

.section-first .right-section {
    height: 500px;
    padding: 2em 1em;
    display: flex;
    justify-content: flex-end;
    align-items: end;


}

.right-section .inner-right-section {
    height: 220px;
    background-color: var(--bg-blue);
    border-radius: 2em;
    position: relative;
    overflow: hidden;

}

.inner-right-section .up {
    position: absolute;
    top: 0;
    left: 0;
    height: 60%;


}

.inner-right-section .up img {
    border-radius: 2em;
}

.inner-right-section .down {
    padding: 0.7em 0em;
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--bg-white);
    height: 40%;



}


.round-img {
    display: flex;
}

.inner-right-section .box1 {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-right: -1.3em;
    border: 0.3em solid var(--bg-blue);


}

.inner-right-section .box1 img {
    border-radius: 50%;
}

.client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client h2 {
    color: var(--bg-white);
    /* font-size: 15px; */
    margin: 0.3em;
}

.client h3 {
    color: var(--bg-paraw);
    margin: 0;
}

.empty {
    padding: 1em 0.7em;
    height: auto;
    margin-top: -2.5em;
}

.empty .box {
    background-color: var(--bg-orange);
    position: relative;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
    padding: 4em 2em;
    z-index: 1;



}

.empty .box::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 3px dashed black;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
    z-index: -2;

}


.header {
    position: relative;

}


.header h6::before {
    position: absolute;
    top: 46%;
    left: 0;
    content: '';
    height: 5px;
    width: 35px;
    background-image: url(../images/OIP-removebg-preview.png);
    background-size: cover;


}

/* ---------------------------END STYLING FOR SECTION FIRST------------ */
/* ---------------------------START STYLING FOR SECTION SECOND------------ */



.about-section {
    height: auto;
    background-color: var(--bg-white);
    position: relative;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    z-index: 1;
    padding: 4em 2em;
}

.about-section .img {
    height: 450px;
    border-radius: 1.6em;

}

.about-section .img img {

    border-radius: 1.6em;

}

.year .abc2 {
    padding: 2em 1em;

}

.year {
    display: flex;
    justify-content: flex-end;
    margin-top: -9em;
}

.year .left .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.year .img {
    height: 300px;
    padding: 0;


}

.year p {
    margin: 0;
}

.year .img img {
    border-left: 9px solid var(--bg-white);
    border-top: 9px solid var(--bg-white);
    border-radius: 1.6em;

}

.year .year-left,
.year-right {
    padding: 0;
}

.year .year-content {
    padding: 1em 0em;
}

.year-num {
    font-size: 67px;
    font-weight: 900;
}

sub {
    font-size: 20px;
    font-weight: 400;
    margin-left: -20px
}

/* ---about page */
.about-page {
    background-color: var(--bg-white);
    padding: 4em 1em;
}

.about-first-section {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 0;
}

.about-image-section {
    z-index: 2;

}
.about-image-section .text .btns{
    margin: 1em 0em;
}
.boxs {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: -13em;
    z-index: 1;
}

.first-img {
    border-left: 0.6em solid var(--bg-white);
    border-bottom: 0.6em solid var(--bg-white);
}
.boxs .boxs1 .text{
    position: relative;

}
.boxs .boxs1 .text .row {
    position: absolute;
    bottom: 1em;
    left: 0;
}

.boxs .boxs1 .text h1 {
    font-weight: 800;
    color: var(--bg-orange);
}

.boxs .boxs1 .text span {
    font-size: 16px;
    line-height: 1em;
}

.customer {
    display: flex;
    justify-content: center;
    align-items: center;
}




/* ---------choose section---------- */
.choose-section {
    padding: 4em 1em;
}

.choose-section .skill {
    display: flex;
    justify-content: flex-end;
    margin-top: -15em;


}

.skill .skill-inner {
    display: flex;
}

.skill .skill-inner .skill-left {
    padding: 3em 1em;
    border-radius: 1em;
    background-color: #eae6e6;



}

.skill .skill-inner .skill-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.skill-text {
    display: flex;
}

.skill-text .values {
    text-align: right;
}

.skill-line1 {
    height: 6px;
    background-color: white;
    position: relative;
    border-radius: 0.3em;
}

.skill-line1::before {
    content: '';
    height: 100%;
    width: 98%;
    background-color: var(--bg-orange);
    position: absolute;
    top: 0;

    border-radius: 0.3em;
    left: 0;
}

.skill-line2 {
    height: 6px;
    background-color: white;
    position: relative;
    border-radius: 0.3em;

}

.skill-line2::before {
    content: '';
    height: 100%;
    width: 78%;
    background-color: var(--bg-orange);
    position: absolute;
    border-radius: 0.3em;

    top: 0;
    left: 0;
}

.skill-line3 {
    height: 6px;
    background-color: whhite;
    position: relative;
    border-radius: 0.3em;

}

.skill-line3::before {
    content: '';
    height: 100%;
    width: 80%;
    background-color: var(--bg-orange);
    position: absolute;
    top: 0;
    border-radius: 0.3em;

    left: 0;
}

.skill-line4 {
    height: 6px;
    background-color: white;
    position: relative;
    border-radius: 0.3em;

}

.skill-line4::before {
    content: '';
    height: 100%;
    width: 90%;
    background-color: var(--bg-orange);
    position: absolute;
    border-radius: 0.3em;

    top: 0;
    left: 0;
}

.skill-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.skill-right .call{
    padding: 0em 2em ;
}
.project {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: -2em;

}

.project .award {
    background-color: #eae6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em 0.2em;
    border-radius: 0.5em;
}


/* team secion */
.team-section {
    padding: 3em 1em;
}

.team-section .text .btns {
    margin: 2em 0em;
}

.team-img .row {
    display: flex;
    justify-content: space-between;
}

.team-img img {
margin: 1em 0em;}

/* ---------------------------END STYLING FOR SECTION SECOND------------ */
.civil-img {
    background-image: url(../images/pointing-sketch.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    padding: 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0em -5em;
    margin: -8em 0em;
    z-index: -1;


}

.civil-img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;

}

/* ---------------------------START STYLING FOR SERVICES SECTION ------------ */
.service-section {
    height: auto;
    background-color: var(--bg-white);
    position: relative;
    border-radius: 3em;
    z-index: 1;
    padding: 4em 2em;

}

.service-section .service {
    display: flex;
    justify-content: center;
}


.service-section .second-service {
    padding: 2em 1em;
    display: flex;
    text-align: center;
}

.service-section .second-service .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-section .second-service .service-box {
    height: 350px;
    position: relative;
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--bg-border);
    margin: 1em;
}

.service-box p {
    pointer-events: none;
}

.service-box h3 {
    pointer-events: none;
}

.service-box img {
    height: 50px;
    width: 50px;
    margin: 2em 0em;

}

.service-box h1 {
    padding: 2em 0em;
}

.service-box p {
    padding: 2em 0em;
}


.hover-image {
    position: absolute;
    width: 300px;
    /* Adjust size as needed */
    height: 300px;
    /* Adjust size as needed */
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: scale(0);
    pointer-events: none;
    z-index: 99;
    /* Ensure the image doesn't interfere with mouse events */
}

/* ---------------------------END STYLING FOR SERVICES SECTION ------------ */
/* ---------------------------START STYLING FOR CLIENT SECTION------------ */
.client-section {
    height: auto;
    background-color: var(--bg-white);
    position: relative;
    border-radius: 3em;
    z-index: 1;
    padding: 4em 2em;

}

.client-section .service {
    display: flex;
    justify-content: center;
}


.client-section .testmonial {
    padding-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.client-section .testmonial .carousel {
    padding: 1em;
}

/* ------styling for testmonial carousel---- */

.item {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    padding: 0em 2em 2em 2em;
    border: 1px solid var(--bg-border);
}

.item .img {
    height: 90px;
    width: 90px;
    position: relative;


}

.item .img img {
    position: absolute;
    left: 0;
    bottom: 50%;
    border-radius: 50%;


}


.item h6 {
    padding: 0;
    margin-top: -1em;
    color: var(--bg-orange);
}

.item p {
    margin: 2em 0em;
}


.owl-dots {
    display: none;
}

.owl-carousel .owl-stage-outer {
    overflow-x: clip;
    overflow-y: visible;
}

.owl-carousel .owl-nav button.owl-next {
    margin: 0em 2em;
}

.owl-nav span {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.622);
    padding: 0px 20px;
    border: 1px solid var(--bg-border);

}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: var(--bg-white);
    transform: scale(1.3);
}

.testmonial-button {
    display: flex;
    margin-top: 2em;
    justify-content: center;
}

.testmonial-arrow-prev {
    border: 1px solid var(--bg-border);
    border-right: none;
    margin-right: 0.6em;
    padding: 0.2em 0em 0.2em 0.2em;
    transition: all 0.5s;
    cursor: pointer;
}

.testmonial-arrow-next {
    border: 1px solid var(--bg-border);
    border-left: none;
    margin-left: 0.6em;
    padding: 0.2em 0.2em 0.2em 0em;
    transition: all 0.5s;
    cursor: pointer;

}

.testmonial-arrow-prev img {
    transition: all 0.3s;

}

.testmonial-arrow-next img {
    transition: all 0.3s;
}

.testmonial-arrow-next span {
    color: black;
    font-size: 11px;

}

.testmonial-arrow-prev span {
    color: black;
    font-size: 11px;

}




.testmonial-arrow-prev:hover img {
    cursor: pointer;
    transform: translateX(-3px);
}

.testmonial-arrow-next:hover img {
    cursor: pointer;
    transform: translateX(3px);
}


/* ---------------------------END STYLING FOR CLIENT SECTION ------------ */

/* ---------------------------START STYLING FOR GALLERY SECTION------------ */

.accordian-section {
    background-color: var(--bg-white);
    position: relative;
    border-radius: 3em;
    z-index: 1;
    padding: 4em 2em;

}

.faq {
    height: 400px;
    padding: 1em;
    overflow-y: scroll;
}


.accordian-section .row {
    --bs-gutter-x: 0rem;


}

.accordians {
    cursor: pointer;
    margin-bottom: 1em;
    padding: 1em;
    background-color: var(--bg-orange);
    color: black;
    border-radius: 10px;
}


.accordians .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em 0em;
}

.accordians .question h6 {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 600;

}

.accordians .question i {
    font-size: 25px;



}

.answer {
    display: none;
    padding-top: 1em;


}

.active {
    display: block;

}

.active-icon {
    transition: all 0.5s ease-in-out;
    transform: rotate(-180deg);
}

.accordian-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

#morefaq {
    display: none;
}

/* ---------------------------END STYLING FOR GALLERY SECTION------------ */


/* ---------------------------START STYLING FOR VIDEO SECTION------------ */

.video {
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.video::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
}

.video img {
    position: absolute;
    height: 80px;
    width: 80px;
}

#video {
    width: 100%;
}

/* ---------------------------END STYLING FOR VIDEO SECTION------------ */


.contact-section {
    background-color: var(--bg-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 0em;
}
.contact-section .service h6{
    color: var(--bg-white);
}
.contact-section h2 {
    color: var(--bg-white);
}

.contact {
    padding-top: 4em;
}

.contact-section .service {
    padding: 0;
}

.contact .text {
    padding: 1em;
}

.form-section {
    padding: 1em;
}



form {
    width: 100%;
    padding: 2em 0em;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

form label {
    margin-bottom: 0.2em;
    color: var(--bg-spanw);
}

input {
    height: 2.7em;
}

input,
textarea {
    width: 100%;
    padding-left: 0.4em;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--bg-border);
    color: var(--bg-border);
}

.form-group {
    margin-bottom: 0.6em;
}

.map1 {
    margin: 2em 0em;
}

/* last footer section */

.footer-container {
    border: 1px solid var(--bg-border);
    border-radius: 1em;
    padding: 3em 0em;
    font-size: 14px;
    color: var(--bg-white);
}


.footer-container p {
    color: var(--bg-paraw);
    padding: 0.6em 0em;
}

.footer-container h3 {
    color: var(--bg-white);
}

.icon {
    margin-top: 1em;
}

.icon a {
    color: var(--bg-paraw);
}

.icon i {
    margin-right: 1em;
    transition: all 0.5s linear;
    font-size: 17px;
}

.icon i:hover {
    cursor: pointer;
    color: var(--bg-orange);
}

.footer-container ul {
    padding: 0;
    margin: 0;
    list-style: none;

}

.footer-container .about-link {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    line-height: 2em;
}

.footer-container .about-link ul li a {
    position: relative;
    color: var(--bg-paraw);
    text-decoration: none;

}



.footer-container .about-link ul li a::before {
    content: '';
    background-color: var(--bg-orange);
    border-radius: 2em;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0%;
    transition: all 0.3s ease-in-out;
}

.footer-container .about-link ul li a:hover::before {
    width: 100%;
}


.footer-container .service-link {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    line-height: 2em;
}

.footer-container .service-link ul li a {
    position: relative;
    color: var(--bg-paraw);
    text-decoration: none;
}



.footer-container .service-link ul li a::before {
    content: '';
    background-color: var(--bg-orange);
    border-radius: 2em;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0%;
    transition: all 0.3s ease-in-out;
}

.footer-container .service-link ul li a:hover::before {
    width: 100%;
}

.address {
    padding: 0;
}

.address h6 {
    padding: 0;
}

.address span {
    color: var(--bg-spanw);
    display: block;
}


/* ---------------------------START STYLING FOR FOOTER SECTION------------ */





/* end footer first section */



/* ---------------------------END STYLING FOR FOOTER SECTION------------ */






/* ---------------------------INTERSECTION OBSERVER-----------  */
.new-about {
    animation: about 0.8s ease-in forwards;
    /* z-index: 1; */
}

@keyframes about {
    0% {
        transform: translateY(-30px);
        opacity: 0.3;
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.new-img {
    animation: img 0.8s ease-in forwards;
}

@keyframes img {
    0% {
        transform: translateX(-50px);
        opacity: 0.3;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* offcanvas style */
.offcanvass {
    height: 100vh;
    width: 50%;
    background-image: url(../images/mumbai-skyline-skyscrapers-construction_469504-21.avif);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 999;
    position: fixed;
    top: 0;
    left: -100%;
    color: black;

}


.offcanvass::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.53);

    z-index: -1;
}

.offcanvass-inner {
    padding: 1em 1em 1em 2em;
}

.offcanvass-header {
    position: relative;
}

.offcanvass-header img {
    cursor: pointer;
    position: absolute;
    right: 10px;
}


.offcanvass-body .offcanvass-logo {
    margin-bottom: 0.6em;
}



.offcanvass-body .button {
    position: relative;
    padding: 0em 1em;

}

.offcanvass-body .button .offcanvass-btn {
    height: 130px;
    width: 130px;
    background-color: var(--bg-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-white);
    position: absolute;
    top: -90px;
    right: 30px;
    transition: 0.7s;

}

.offcanvass-body h6 {
    color: black;
}

.offcanvass-body span {
    color: black;
}

.offcanvass-body .icon a {
    color: black;
}

.offcanvassanimate {
    animation: offcanvas-animate 1s ease;
    animation-fill-mode: forwards;
}

.offcanvass-reverse {
    animation: offcanvas-animates 1s ease;
    animation-direction: reverse;

}

@keyframes offcanvas-animate {
    0% {
        left: -100%;
    }

    50% {
        left: 0%;
    }

    75% {
        left: -5%;
    }

    100% {
        left: 0%;
    }
}

@keyframes offcanvas-animates {
    0% {
        left: -100%;
    }

    50% {
        left: 0%;
    }

    75% {
        left: -5%;
    }

    100% {
        left: 0%;
    }
}

.offcanvass-body .button .offcanvass-btn:hover {
    cursor: pointer;
}

/* -----------offanvass for mobile ---------------- */
.offcanvassMobile {
    height: 100vh;
    width: 100%;
    background-image: url(../images/mumbai-skyline-skyscrapers-construction_469504-21.avif);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 999;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 1s;

}

.offcanvassMobile::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.53);

    z-index: -1;
}

.offcanvassMobile-inner {
    padding: 1em;
}

.offcanvassMobile-header {
    display: flex;
    justify-content: space-between;
}

.offcanvassMobile-header .mobileOffcanvasClose {
    cursor: pointer;
}

.offcanvassMobile-body {
    padding: 2em 0em;

}

.offcanvassMobile-body .button {
    position: relative;

}

.offcanvassMobile-body .mobile-btn {
    display: flex;

}

.offcanvassMobile-body .button .offcanvass-btn {
    height: 100px;
    width: 100px;
    background-color: var(--bg-blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-white);
    position: absolute;
    transition: 0.7s;
    font-size: 11px;
    right: 1em;
    /* bottom: 1em; */

}

.offcanvassMobile-body .button .offcanvass-btn:hover {
    cursor: pointer;
}

.offcanvassMobile-body hr {
    color: black;
    height: 2px;
}

.offcanvassMobile-body ul {
    padding-left: 0;
}

.offcanvassMobile-body ul li {
    list-style: none;
    line-height: 2.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.offcanvassMobile-body ul li:hover {
    cursor: pointer;

}

.offcanvassMobile-body ul li a {
    text-decoration: none;
    color: black;
}

.offcanvassMobile-body ul li:hover a {
    color: var(--bg-orange);
}

.offcanvassMobile-body .address {
    padding: 0;
}

.offcanvassMobile-body .address span {
    color: black;
    font-size: 14px;
}

.offcanvassMobile-body .address h6 {
    color: #000;
}

.offcanvassMobile-body .icon a {
    color: #000;
}