@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Montserrat", sans-serif;
}

/* span {
    font-size: 20px;
} */


/* navigation wavy text css */
.nav-center ul li:hover {
      cursor: pointer;
}
li:hover span:nth-child(1){
    animation: waviy 0.3s;
    display: inline-block;
}
li:hover span:nth-child(2){
    animation: waviy 0.5s;
    display: inline-block;
}
li:hover span:nth-child(3){
    animation: waviy 0.7s;
    display: inline-block;
}
li:hover span:nth-child(4){
    animation: waviy 0.9s;
    display: inline-block;
}
li:hover span:nth-child(5){
    animation: waviy 1.1s;
    display: inline-block;
}
li:hover span:nth-child(6){
    animation: waviy 1.3s;
    display: inline-block;
}
li:hover span:nth-child(7){
    animation: waviy 1.5s;
    display: inline-block;
}
li:hover span:nth-child(8){
    animation: waviy 1.7s  ;
    display: inline-block;
}

@keyframes waviy {
0% ,40%, 100% {
transform: translateY(0)
}
20% {
transform: translateY(-6px)
}
}


h1 {
    font-size: 35px;
}

p {
    font-size: 13px;
}

h6 {
    font-size: 20px;
}

:root {
    --bg-orange: #ff6600;
    --bg-blue: #284766;
    --bg-white: #fff;
}

/* ------------------------NAVIGATION STYLING HERE---------------------------------- */

.row {
    margin: 0;
}

.container-fluid {
    padding: 0em;
}

.navs {
    /* background-color: var(--bg-blue); */
    background-color: #284766ce;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: flex;
}

.navs .nav-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--bg-white);
}


.navs .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navs .nav-center {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-white);
    padding: 0em 1em;
}

.navs .nav-center ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navs .nav-center ul li {
    list-style: none;
    margin-right: 4em;
    font-size: 12px;

}





.navs .menu-bar {
    display: none;
}

/* ---------------------- STYLING FOR BUTTON START HERE------------------------ */

.btns{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 1em;
      transition: all 0.5s;
      z-index: 1;
      overflow: hidden;
      padding: 0em 0.2em 0em 1em   ;
      height: 35px;
      background-color: transparent;
      border: transparent;
      /* color: #fff; */
    }
 .btns::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0px;
  background-color: var(--bg-orange);
  height: 100%;
  width: 35px;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.6s;

 }
 .btns:hover::after {
  width: 100%;
  border-radius: 0;
  color: #fff;
 }
 .btns:hover{
  cursor: pointer;

 }
.btns img{
  margin-left: 10px;
}
    




/* ---------------------- STYLING FOR BUTTON END HERE------------------------ */

.navs .nav-right {
    background-color: var(--bg-orange);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--bg-white);
    z-index: 2;
}

.nav-right::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 112%;
    width: 112%;
    background-color: var(--bg-orange);
    transform: skewX(25deg);
    transform-origin: bottom left;
    z-index: -1;

}

.navs .nav-right span {
    font-size: 14px;
}


/* ---------------------------START STYLING FOR SECTION FIRST------------ */

.img-section{
    position: relative;
     padding: 2em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    

}

.img-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;

}


.section-first {
    z-index: 1;
    position: absolute;
    top: 10px;
   
    

}

.section-first .left-section {
    padding: 1em;
    display: flex;
    align-items: center;

}

.left-section .text {
    color: var(--bg-white);

}

.section-first .right-section {
    height: 550px;
    padding: 3em 1em;
    display: flex;
    justify-content: flex-end;
    align-items: end;


}

.right-section .inner-right-section {
    height: 220px;
    background-color: var(--bg-blue);
    border-radius: 2em;
    position: relative;

}

.inner-right-section .up {
    position: absolute;
    top: 0;
    left: 0;
    height: 60%;


}

.inner-right-section .up img {
    border-radius: 2em;
}

.inner-right-section .down {
    padding: 0.7em 0em;
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--bg-white);




}

.inner-right-section .down {
    display: flex;
    align-items: center;

}

.inner-right-section .down .box1 {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-right: -1.3em;
    border: 0.3em solid var(--bg-blue);


}

.inner-right-section .down .box1 img {
    border-radius: 50%;
}


.empty {
    padding: 1em 0.7em;
    height: auto;
    position: relative;
    margin-top: -2.5em;
}

.empty .box {
    height: auto;
    background-color: var(--bg-orange);
    position: relative;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
    padding: 2em;
    z-index: 1;



}

.empty .box::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 3px dashed black;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
    z-index: -2;

}

.header {
    position: relative;

}

h6 {
    padding-left: 2.5em;
}

.header h6::before {
    position: absolute;
    top: 46%;
    left: 0;
    content: '';
    height: 3px;
    width: 35px;
    background-color: var(--bg-orange);

}

/* ---------------------------END STYLING FOR SECTION FIRST------------ */
/* ---------------------------START STYLING FOR SECTION SECOND------------ */



.about-section {
    height: auto;
    background-color: var(--bg-white);
    position: relative;
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    z-index: 1;
    padding: 4em 2em;
}

.about-section .img {
    height: 450px;
    border-radius: 1.6em;

}

.about-section .img img {

    border-radius: 1.6em;

}

.year .abc2 {
    padding: 2em 1em;

}

.year {
    display: flex;
    justify-content: flex-end;
    margin-top: -9em;
}

.year .left .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.year .img {
    height: 300px;
    padding: 0;


}

.year p {
    margin: 0;
}

.year .img img {
    border-left: 9px solid var(--bg-white);
    border-top: 9px solid var(--bg-white);
    border-radius: 1.6em;

}

.year .year-left,
.year-right {
    padding: 0;
}

.year .year-content {
    padding: 1em 0em;
}

.year-num {
    font-size: 67px;
    font-weight: 900;
}

sub {
    font-size: 20px;
    font-weight: 400;
    margin-left: -20px
}


/* ---------------------------END STYLING FOR SECTION SECOND------------ */
.civil-img {
    background-image: url(../images/pointing-sketch.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    padding: 0;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0em -5em;
    margin: -8em 0em;
    z-index: -1;


}

.civil-img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;

}

/* ---------------------------START STYLING FOR SERVICES SECTION ------------ */
.service-section {
    height: auto;
    background-color: var(--bg-white);
    position: relative;
    border-radius: 3em;
    z-index: 1;
    padding: 4em 2em;

}

.service-section .service {
    display: flex;
    justify-content: center;
}


.service-section .second-service {
    padding: 2em 0em;
    display: flex;
}

.service-section .second-service .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-section .second-service .service-box {
    padding: 2em 1em;
    position: relative;
}



/* ---------------------------END STYLING FOR SERVICES SECTION ------------ */
/* ---------------------------START STYLING FOR CLIENT SECTION------------ */
.client-section {
    height: auto;
    background-color: var(--bg-white);
    position: relative;
    border-radius: 3em;
    z-index: 1;
    padding: 4em 2em;

}

.client-section .service {
    display: flex;
    justify-content: center;
}


.client-section .testmonial {
    padding-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.client-section .testmonial .carousel{
    padding: 1em;
}

/* ------styling for testmonial carousel---- */

.item {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    padding: 0em 2em 2em 2em;
    border: 1px solid black;
}
.item .img{
    height: 90px;
    width: 90px;
    position: relative;
   

}
.item .img img{
    position: absolute;
    left: 0;
    bottom:50%;
    border-radius: 50%;
    

}


.item h6 {
    padding: 0;
    margin-top: -1em;
    color: var(--bg-orange);
}
.item p{
    margin: 2em 0em;
}


.owl-dots {
    display: none;
}

.owl-carousel .owl-stage-outer {
    overflow-x:clip;
    overflow-y: visible;
}

.owl-carousel .owl-nav button.owl-next{
    margin: 0em 2em ;
}

.owl-nav span{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.622);
    
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background-color:var(--bg-white);
 transform: scale(1.3);
}

 



/* ---------------------------END STYLING FOR CLIENT SECTION ------------ */

/* ---------------------------START STYLING FOR GALLERY SECTION------------ */

.gallery-section {
    height: auto;
    background-color: var(--bg-white);
    position: relative;
    border-radius: 3em;
    z-index: 1;
    padding: 4em 2em;

}

.gallery-section .service {
    display: flex;
    justify-content: center;
}


/* ---------------------------END STYLING FOR GALLERY SECTION------------ */


/* ---------------------------START STYLING FOR VIDEO SECTION------------ */

.video {
    background-color: var(--bg-white);
    position: relative;
    z-index: -1;
    height: 100%;
    padding: 0;

}

.video::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
}

/* ---------------------------END STYLING FOR VIDEO SECTION------------ */

/* ---------------------------START STYLING FOR FOOTER SECTION------------ */

/* start footer first section */

.footer-section{
    height: auto;
    background-color: var(--bg-blue);
    position: relative;
    z-index: 1;
    /* padding: 2em 2em 0em 2em; */
    color: var(--bg-white);

}
.footer-first{
    display: flex;
    justify-content: center;



}
.footer-first .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-first .img img{
transform:scaleX(-1);
padding-bottom: 1em;
}
.footer-first .content{
 padding: 2em 0em;

}
.footer-first .content  ul{
    padding-left: 1em;
}
.form-section{
    padding: 2em 0em;
    text-align: center;

}
.form-section .input-text input{
width: 70%;
margin: 0.5em 0em;
padding: 0.6em;
outline: none;
border: none;
}
.form-section .form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.6em;
}

/* end footer first section */


.footer-img-section {
    padding: 1em 0em 3em 0em;
    color: var(--bg-white);
    background-color: var(--bg-blue);
    position: relative;
}
.footer-img-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/vecteezy_dots-world-map-vector-illustration-isolated_9314847\ -\ Copy.png);   

    background-size:cover;
    opacity: 0.3;
}

.footer-img-section .footer-img-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0em;
    position: relative;
    z-index: 999;
}
.footer-img-section .footer-img-content .row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-img-section .footer-img-content ul{
    padding-left:0.6em;
}
.icon{
    color: var(--bg-orange);
}
.icon span{
    padding-right: 1em;
}

/* ---------------------------END STYLING FOR FOOTER SECTION------------ */



/* ---------------------------START STYLINK FOR MOBILE OFFCANVAS-----------  */

.offcanvas{
    background-image: url(../images/tolu-olubode-PlBsJ5MybGc-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    background-color: #284766;
}
.offcanvas-header{
    padding: 2em 1em ;
}
.offcanvas-body{
    flex-grow: 0;
    padding: 0;
}
.navs .nav-center .offcanvas .offcanvas-body ul {
    display: block;
}
.navs .nav-center .offcanvas .offcanvas-body ul li {
    display: block;
}
.btn-close{
    color: white;
    /* background-image: none; */
}
/* ---------------------------END STYLING FOR MOBILE OFFCANVAS-----------  */





/* ---------------------------INTERSECTION OBSERVER-----------  */
.new-about{
    animation:  about 0.8s ease-in forwards ;
    /* z-index: 1; */
}

@keyframes about {
    0%{
         transform: translateY(-20px);
         opacity: 0.3;
    }

    100%{
       opacity: 1;
       transform: translateY(0px);
    }
}